root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 4
indent_style = space

[*.{js,rb},Gemfile]
indent_size = 2
indent_style = space

[{package.json,.travis.yml}]
indent_size = 2
indent_style = space
