root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 4
indent_style = space

[{*.rb,Gemfile}]
indent_size = 2
indent_style = space

[{*.{js,jsx,ts,tsx},package.json}]
indent_size = 2
indent_style = space

[*.yml]
indent_size = 2
indent_style = space
