# This is Git's per-user configuration file.
[user]
  name = "Kirby Cool"
  email = "kirbydcool@gmail.com"

[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  rs = reset
  rb = rebase
  cp = cherry-pick

[core]
  commentchar = @
  pager = diff-so-fancy | less --tabs=4 -RFX

[pull]
  rebase = true
