# This is Git's per-user configuration file.
[user]
  name = "Kirby Cool"
  email = "kirbydcool@gmail.com"

[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  rs = reset
  rb = rebase
  cp = cherry-pick

[core]
# pre-commit doesn't respect this when generating the template and it's getting really annoying
#  commentchar = @

[pull]
  rebase = true

[push]
	autoSetupRemote = true
